.reservesPresentation {
    color: rgba(var(--dark));
    background-color: rgba(var(--primary), 0.4);
    border-radius: 20px;
    padding: 2vw;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vh, 20px);
}

.reservesPresentation-presentationName {
    font-size: var(--presentationTittle);
    text-align: center;
    margin-bottom: 1vh;
    background-color: rgba(var(--secondary), 0.6);
    border-radius: 40px;
}

.reservesPresentation-info-fullView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reservesPresentation-info-fullView:first-child {
    flex: 1 0 200px;
}

.buttonList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttonList-singleView {
    flex-direction: row;
    gap: 0px;
}
