@import './variables.css';

@import './structure/mainPageStructure.css';

@import './module/mainPage/header.css';
@import './module/mainPage/topNavBar.css';
@import './module/mainPage/separator.css';
@import './module/mainPage/topArticle.css';
@import './module/mainPage/bottomArticle.css';
@import './module/mainPage/mainNavigation.css';
@import './module/mainPage/avatar.css';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: var(--white);
	background-color: var(--black);
}

.mainPage {
	margin-left: 5vw;
	border: solid 5px var(--blue);
}

.secondPage {
	margin: auto;
	width: 75vw;
	border: solid 5px var(--blue);
}

a {
	color: var(--white);
}

h2 {
	margin-top: 0;
}
