.mainNavigation {
	padding-top: 2vh;
	padding-bottom: 2vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: row no-wrap;
	justify-content: space-evenly;
	align-items:center;
	gap: 2vh;
}
