.dualBtn {
    width: clamp(50px, 10vw, 150px);
    height: 100%;
    padding: 10px;
    clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
    background-color: rgba(var(--primary), 0.8);
    color: gba(var(--dark), 1);

    display: flex;
    align-items: stretch;
}

.dualBtn:hover {
    cursor: pointer;
    background-color: rgba(var(--primary), 1);
}

.shadow-wrap {
    filter: drop-shadow(2px 2px 5px rgba(var(--dark), 0.6));
}

.dualBtn > * {
    width: 100%;
    color: var(--black);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    text-transform: capitalize;
    font: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
}

.dualBtn > *:hover {
    cursor: pointer;
    background-color: rgba(var(--primary), 1);
}
