.myCenterTypeCard{
  text-align: center;
  border-radius: 20px;
  background-color: rgba(var(--clear),0.5);
  margin-bottom: 1vh;
}

.myCenterTypeCard>ul{
  display:flex;
  flex-wrap: wrap;
  justify-content:start;
  list-style: none;
}
.myCenterListLimit{
  background-color: rgba(var(--secondary),0.5);
  height: 1vh;
  width: 100%;
}
.myCenterTypeCard>ul>li{
  margin: 1vh 1vw;
  width: 20vw;
  height: 12vh;
  background-color: rgba(var(--primary),0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myCenterTypeCard>ul>li>ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.myCenterTypeCard>ul>li>ul>li{
  width: 8vw;
  height: 4vh;
  background-color: rgba(var(--secondary),0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.myCenterTypeCard>ul>li>ul>li:nth-child(1){
  border-top-left-radius:15px;
}
.myCenterTypeCard>ul>li>ul>li:nth-child(2){
  border-top-right-radius:15px;
}
.myCenterTypeCard>ul>li>ul>li:nth-child(3){
  border-bottom-left-radius:15px;
}
.myCenterTypeCard>ul>li>ul>li:nth-child(4){
  border-bottom-right-radius: 15px;
}
.myCenterTypeCard>ul>li>ul>li>img{
  width: 7vw;
  max-height: 4vh;
}

  