.myCenterListExpand{
    grid-row: 2/3;
    grid-column: 1/-1;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.myCenterListExpand>ul{
    overflow-x: hidden;
    list-style: none;
}
.myCenterListExpand>ul::-webkit-scrollbar {
    display: none;
}

.myCenterListExpand>ul>li{
    text-align:left;
    /* border-radius: 20px; */
    background-color: rgba(var(--clear),0.5);
    margin-bottom: 0.75vh;
  }
  .myCenterListExpand>ul>li>h3{
      margin-left: 1.5vw;
  }
  .myCenterListExpand>ul>li>ul{
    display:flex;
    flex-direction: column;
    justify-content:start;
    list-style: none;
    
  }
  .myCenterListLimit{
    background-color: rgba(var(--secondary),0.5);
    height: 1vh;
    width: 100%;
  }
  .myCenterListExpand>ul>li>ul>li{
    margin: 1vh 1vw;
    width: 20vw;
    height: 12vh;
    background-color: rgba(var(--primary),0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .myCenterListExpand>ul>li>ul>li>ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
