.myCenterListExpand{
    grid-row: 2/3;
    grid-column: 1/-1;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.myCenterListExpand>ul{
    overflow-x: hidden;
    list-style: none;
}
.myCenterListExpand>ul::-webkit-scrollbar {
    display: none;
}

.myCenterListExpand>ul>li{
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align:left;
  background-color: rgba(var(--clear),0.5);
    
  }
.myCenterListExpand>ul>li>h3{
  margin-left: 1.5vw;
  font-size: var(--presentationSubTittle);
}
.myCenterListExpand>ul>li>ul{
  display:flex;
  flex-direction: column;
  justify-content:start;
  list-style: none;
  gap: 1vh;
}
.myCenterListLimit{
  background-color: rgba(var(--secondary),0.5);
  height: 1vh;
  width: 100%;
}
  


  
  
  
