.decorationBottom{
    display: grid;
    align-items: baseline;
    grid-template-columns: 
    auto auto auto;
    grid-template-rows: 
    4vh;
}
.decorationBottomAdjustment{
    height: 1.8vh;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
    order: -1;
    align-self: end;
    background:rgba(var(--dark));
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.decorationBottomAdjustmentSingleView{
    height: 12vh;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    order: -1;
    background:rgba(var(--dark));
}
.decorationBottomLogo{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 4vh; 
}
.decorationBottomAvatar{
    grid-column: 3/4;
    grid-row: 1/2;
    height:4vh; 
    justify-self: right;
}
