.header {
    grid-row: 1/2;
    grid-column: 2/5;
    order: 2;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.errorPage {
    display: flex;
    flex-direction: row;
    text-align: justify;
    color: rgba(var(--dark), 1);
    background-color: rgba(var(--clear), 0.6);
}
