.listSpaces{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.listSpaces::-webkit-scrollbar {
    display: none;
}
.listSpaces>ul{
    background-color: rgba(var(--primary),0.4);
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    list-style: none;
    overflow-x: hidden;
}
.listSpaces>ul::-webkit-scrollbar {
    display: none;
}
.listSpacesType {
    background-color: rgba(var(--clear),0.4);
    color: rgba(var(--dark),1);
    height: 5vh;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    font-size: 3vh;
    margin-bottom: 1vh;
    font-size: var(--presentationSubTittle);
}

.listSpaces>ul>li{
    width: 100%;
    margin-bottom: 2vh;
    
}
.listSpaces>ul>li>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8vh;
    
    
}

.listSpaces>ul>li>ul>li {
    width: 100%;
}