.itemList {
    background-color: rgba(var(--clear), 0.6);
    padding: 1vh 1vw;
    border-radius: 20px;
    margin-bottom: 1vh;
}

.list {
    padding: 1vw;
    overflow: auto;
}

.list-simple {
    list-style: circle;
}

.list-checked {
    list-style: none;
}

.list-checked li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
}

.list-checked-label {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.priceItem::after {
    content: ' €/dia';
}
