.imageCard {
    background-color: rgba(var(--primary), 0.5);
    border-radius: 40px;
    overflow: auto;
    width: 100%;
    height: 100%;
    color: rgba(var(--dark), 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    padding: 3vw;
}

.imageCard label {
    background-color: rgba(var(--secondary), 0.6);
    padding: 1vw;
    border-radius: 20px;
}


.imageCard-img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 0 rgba(var(--dark), 0.6);
}
.imageCard-error {
    color: rgba(var(--alert), 1);
    font-size: var(--cardText);
}

.imageCard-message {
    color: rgba(var(--dark), 1);
    font-size: var(--cardText);
}

input[type='file'] {
    display: none;
}

