.imageCard {
    background-color: rgba(var(--clear), 0.9);
    border-radius: 40px;
    overflow: auto;
    width: 100%;
    height: 100%;

    color: rgba(var(--dark), 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.imageCard-img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 0 rgba(var(--dark), 0.6);
}
.imageCard-error {
    color: rgba(var(--alert), 1);
    font-size: var(--cardText);
}

.imageCard-message {
    color: rgba(var(--dark), 1);
    font-size: var(--cardText);
}

input[type='file'] {
    display: none;
}
.imageCard-fileUpload {
    border: 2px solid rgba(var(--dark), 1);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(var(--dark), 0.6);
    background-color: rgba(var(--primary), 1);
    display: inline-block;
    padding: 6px 8px;
    cursor: pointer;
}
