.spaceData {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-x: hidden;
}

.spaceData::-webkit-scrollbar {
    display: none;
}
.spaceData>article{
    margin-bottom: 1vh;
}



.spaceData-list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: flex-end;
    font-size: var(--cardSubTittle);
    margin-right: 0.3vw;
    background-color: rgba(var(--clear), 0.4);
    border-radius: 20px;
    padding: 1vh 1vw;
}

.spaceData>article>ul {
    list-style: none;
}

.spaceData>article>ul>li {
    display: flex;
    justify-content: space-between;
    gap: 0.5vw;

}



