.spaceReservesCalendar {
    color: rgba(var(--dark));
    background-color: rgba(var(--primary), 0.4);
    border-radius: 20px;
    padding: 2vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
}

.spaceReservesCalendar > h3 {
    font-size: var(--presentationSubTittle);
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 40px;
}

.spaceDateRange {
    text-align: center;
    background-color: rgba(var(--clear), 0.4);
    border-radius: 10px;
    padding: 2vh 1vw;
    margin-bottom: 1vh;
    overflow: auto;
}
.spaceDateRange > h4 {
    align-self: flex-start;
    margin-left: 1vw;
    margin-bottom: 1vh;
}
