.presentation {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.presentation>nav {
    margin-bottom: 1vh;
}

.presentation > ul {
    list-style: none;
    overflow-x: hidden;
}
.presentation > ul::-webkit-scrollbar {
    display: none;
}

.presentation > ul li img {
    width: 2vh;
}

.presentationName{
    font-size: var(--presentationTittle);
    text-align: center;
    margin-bottom: 1vh;
    background-color: rgba(var(--secondary), 0.6);
    border-radius: 40px;
}
.presentationCity {
    font-size: var(--presentationSubTittle);
    padding-bottom: 1vh;
}
.presentationSlide {
    padding-bottom: 2vw;
}

.presentationSlide {
    max-height: 25vh;
    margin-bottom: 2vh;
}
.presentationCity {
    font-size: var(--presentationText);
    text-align: end;
}

.presentationPhone {
    display: flex;
    justify-content: space-between;
}
.presentationAddress {
    display: flex;
    justify-content: space-between;
}
.presentationEmail {
    display: flex;
    justify-content: space-between;
}

.presentationDescription {
    font-size: var(--presentationText);
    padding: 1vh;
    text-align: justify;
}

.presentationDescription::first-letter,
p::first-letter {
    text-transform: uppercase;
}

.presentation {
    color: rgba(var(--dark));
    border-radius: 20px;
    background-color: rgba(var(--primary), 0.4);
    padding: 2vw;
}
.presentationList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1 1 50%;
    overflow-x: hidden;
}
.presentationList > ul::-webkit-scrollbar {
    display: none;
}
.presentationList > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1vh;
    overflow-x: hidden;
    flex: 1 1 50%;
    width: 100%;
}
.centerDataList {
    background-color: rgba(var(--clear), 0.4);
    padding: 1vh 1vw;
    border-radius: 20px;
}
.presentationEnd {
    width: 100%;
    height: 3vh;
    background-color: rgba(var(--secondary),0.7);
    border-radius: 0 0 40px 40px;
  }
.presentationStart {
    width: 100%;
    height: 3vh;
    background-color: rgba(var(--secondary), 0.7);
    border-radius: 40px 40px 0 0;
}

.message {
    color: rgba(var(--dark), 1);
    font-size: var(--cardText);
    text-align: center;
}

.error {
    color: rgba(var(--alert), 1);
    font-size: var(--cardText);
    text-align: center;
}
