
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    color: rgba(var(--clear));
    text-align: center;
    position: absolute;
    bottom: -2vh;
    right: 1vw;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }