
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(var(--primary));
    color: rgba(var(--clear));
    text-align: center;
    padding: 1vw 0;
    border-radius: 6px;
    position: absolute;
    bottom: -4vh;
    right:-4vw;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }