:root {
	--blue: #00adb5;
	--green: #64b6ac;
	--black: #303841;
	--white: #eeeeee;
	--orange: #dc795a;
	--violet: #998fc7;

	--dark: 41, 47, 54;
	--primary: 0, 173, 181;
	--secondary: 131, 119, 209;
	--tertiary: 153, 143, 199;
	--clear: 247, 255, 247;
}