.backGroundLeft {
	grid-row: 1/4;
	grid-column: 1/3;
	order: 1;
    background-image: linear-gradient(270deg,rgba(var(--clear),1),rgba(var(--primary),0.4)),url(../../assets/img/Coworking-Image.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
