@import '../../css/variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    color: var(--white);
}

.mainPage {
	display: grid;
	grid-template-rows:
		120px
		/* 50px
		0.5fr */
		minmax(270px, 10fr)
		minmax(10px, 30px);

	grid-template-columns:
		minmax(30px, 50px)
		minmax(280px, 650px)
		minmax(35px, min(30vw, 280px))
		minmax(15px, 40px)
		2fr
		6fr
		0.5fr;

	justify-items: stretch;
	align-items: stretch;

	width: 100vw;
	height: 100vh;
}

.decorationLeft{
	background-color: rgba(var(--dark));
	grid-row: 1/5;
	grid-column: 1/2;
	order:1;
}
.mainSection{
	grid-row: 2/4;
	grid-column: 2/7;
	order: 1;
   display:flex;
   flex-direction: row; 
   
   display: grid;
   grid-template-columns:
		1fr
		16rem
		1fr;   
   grid-template-rows:
	1fr
	1fr;
   gap:1rem;	
}

