@import '../../css/variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    color: var(--white);
}

.mainPage {
    display: grid;
    grid-template-rows:
        14vh
        82vh
        4vh;
    grid-template-columns:
        2vw
        2vw
        60vw
        34vw
        2vw;
    justify-items: stretch;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}


.mainSection {
    grid-row: 2/3;
    grid-column: 3/4;
    order: 1;
}



