.imagePresentation {
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.imagePresentation > li {
    font-size: var(--cardSubTittle);
    padding: 1vw;
    border-radius: 20px;
    text-align: justify;
    ;
}
.imagePresentation > li > figure{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 10vw;
    height: 16vh;
}
.imagePresentation > li > figure > button {
    position: absolute;
    right: 0.5vw;
    top: 0.5vh;
    background-color: transparent;
    border: none;
    color: rgba(var(--secondary), 1);
    font-size: 2vh;
}

#imagePresentation-mainImage {
    width: 10vw;
    height: 11vh;
    object-fit:cover;
    border-radius: 10px;
}

.imagePresentation-text {
    width: 100%;
    text-align: center;
    font-size: var(--cardSubTittle);
    margin-top: 0.3vw;
    background-color: rgba(var(--clear), 0.4);
    border-radius: 20px;
    overflow: hidden;
}

input[type='file'] {
    display: none;
}
.fileUpload {
    border: 2px solid rgba(var(--dark), 1);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(var(--dark), 0.6);
    background-color: rgba(var(--primary), 0.7);
    display: inline-block;
    padding: 6px 8px;
    cursor: pointer;
    width: 10vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoUpload>input{
    background-color: rgba(var(--clear), 0.6);
    margin-top: 0.5vh;
    border: none;
    border-radius: 20px;
    width: 100%;

}
