.form {
    display: flex;
    flex-direction: column;
}

.form hr {
    margin: 0;
    padding: 0;
}

.form-error {
    color: var(--orange);
}

.form-options {
    margin: 10px 0;
    text-align: justify;
}
