@import url('https://fonts.googleapis.com/css?family=Roboto:700');



#container {
  color:rgba(var(--clear));
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:26vh;  
  padding-left:1vw;  
  padding-bottom:15vh;
  border-radius: 40px;  
  width:95%;
  display:block;
  background-color: rgba(var(--primary), 0.6);
  position: relative;
}
.contact{
  position: absolute;
  background-color: rgba(var(--dark),1);
  top: 70%;
  left:5%;
  width: 50vw;
  border-radius: 40px;
  padding: 3vh 3vw;
  display:flex;
  justify-content: space-around;
}


#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:rgba(var(--dark));
}
#flip div:first-child div {
  background:rgba(var(--secondary));
}
#flip div:last-child div {
  background: rgba(var(--tertiary));
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-165px;}
  33% {margin-top:-165px;}
  38% {margin-top:-78px;}
  66% {margin-top:-78px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
/* @keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
} */
