.orderByNavigator{
    width: 100%;
    height: 5%;
  }
  .orderByNavigator ul{
    width: 100%;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .orderByNavigator li{
    width: 100%;
    display:flex;
    justify-content: center;
  }
  .orderByNavigator button{
    width: 100%;
    background-color: rgba(var(--secondary),0.7);
    border:none;
    cursor: pointer;
  }

  .orderByNavigator ul li:first-child  button{
    border-top-left-radius: 40px;
  }
  .orderByNavigator ul li:last-child  button{
    border-top-right-radius: 40px;
  }
