.form {
    background-color: rgba(var(--clear), 0.4);
    overflow: auto;
    width: 100%;
    height: 100%;
    color: rgba(var(--dark), 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2vw;
    overflow-x: hidden;
}
.form::-webkit-scrollbar {
    display: none;
<<<<<<< HEAD
}
.registerForm > fieldset {
=======
    }
.form > fieldset {
>>>>>>> 1a8606509819d1adef3f00a0c0a02de3b53b668c
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
}
.modificationForm-dialog {
    max-width: 30vw;
    padding: 3vw;
    box-shadow: 1px 1px 10px 0 gba(var(--dark), 0.4);
    background-color: rgba(var(--primary), 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: var(--presentationSubTittle);
}
.modificationForm-dialog button {
    border: none;
    background-color: rgba(var(--secondary), 0.7);
    padding: 1vh;
    border-radius: 40px;
    font-size: var(--presentationText);
}

.form-limit {
    height: 1vh;
    width: 100%;
    background-color: rgba(var(--secondary), 0.7);
}

.form-error {
    color: rgba(var(--alert), 1);
    font-size: var(--cardText);
}

.form-message {
    color: rgba(var(--dark), 1);
    font-size: var(--cardText);
}

.form button {
    border: none;
    background-color: rgba(var(--secondary), 0.7);
    padding: 1vh;
    border-radius: 40px;
    font-size: var(--presentationText);
}

.form-element {
    position: relative;
    margin-bottom: 2vh;
}

.form-element-bar {
    position: relative;
    height: 1px;
    background: rgba(var(--primary), 0.9);
    display: block;
}

.form-element-bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--secondary), 0.9);
    height: 2px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.28s ease;
    will-change: transform;
}

.form-element-label {
    position: absolute;
    top: 0.75rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: rgba(var(--secondary));
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
    will-change: transform, color, opacity;
}

.form-element-field {
    outline: none;
    height: 1.5rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 100%;
    color: #333;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
}

.form-element-field.-hasvalue,
.form-element-field:focus {
    opacity: 1;
}

.form-element-field.-hasvalue ~ .form-element-label,
.form-element-field:focus ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
    color: rgba(var(--primary), 0.9);
}

.form-has-error .form-element-bar,
.form-has-error .form-element-bar::after {
    background: rgba(var(--primary), 0.9);
}

.form-is-success .form-element-label.form-element-label,
.form-is-success .form-element-hint {
    color: #259337;
}

.form-is-success .form-element-bar::after {
    background: #259337;
}

input.form-element-field:not(:placeholder-shown),
textarea.form-element-field:not(:placeholder-shown) {
    opacity: 1;
}

input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

textarea.form-element-field {
    height: auto;
    min-height: 3rem;
}

select.form-element-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-select .form-element-bar::before {
    content: '';
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    border-bottom: 1px solid rgba(var(--primary), 0.9);
    border-right: 1px solid rgba(var(--primary), 0.9);
    display: block;
    right: 0.5em;
    bottom: 0;
    transition: transform 0.28s ease;
    transform: translateY(-100%) rotateX(0deg) rotate(45deg);
    will-change: transform;
}

.form-select select:focus ~ .form-element-bar::before {
    transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}

.form-element-field[type='number'] {
    -moz-appearance: textfield;
}

.form-element-field[type='number']::-webkit-outer-spin-button,
.form-element-field[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.overflow {
    overflow: auto;
}
