.registerForm {
    background-color: rgba(var(--clear), 0.9);
    border-radius: 40px;
    overflow: auto;
    width: 100%;
    height: 100%;
    
    color: rgba(var(--dark), 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.registerForm-title {
    font-size: var(--tittle);
    text-align: center;
    text-transform: capitalize;
}

.registerForm-subtitle {
    font-size: var(--cardTittle);
    text-align: justify;
    text-transform: lowercase;
}

.registerForm-subtitle::first-letter {
    text-transform: capitalize;
}

hr {
    opacity: 0.3;
}

.registerForm-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.registerForm-inputs > * {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.registerForm-error {
    color: rgba(var(--alert), 1);
    font-size: var(--cardText);
}

.registerForm-message {
    color: rgba(var(--dark), 1);
    font-size: var(--cardText);
}

.registerForm-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: justify;
    font-size: var(--cardText);
}

.modificationForm-dialog {
    max-width: 500px;
    padding: 3vw;
    box-shadow: 1px 1px 10px 0 gba(var(--dark), 0.4);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* *********************************************************** */

.registerForm > fieldset {
    flex: 1 1 auto;   
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none; 
}


.registerForm > fieldset > label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.registerForm > fieldset > label > img {
    flex: 0 0 auto;
    height: 100%;
    width: 20px;
    color: rgba(var(--dark), 1);
    margin-right: 2px;
}
.registerForm > fieldset > label > input {
    width: 100%;
    font-size: var(--cardText);
    margin-right: 2vw;
}
