.searchForm{
    justify-self: center;
    display:flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: flex-start;
    background-color: rgba(var(--clear));
    border-radius: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: var(--cardText);
    text-align: center;
    
}
.searchFormFieldset{
    width: 100%;
    padding: 1vh;
    border:none;
    max-height: 100%;
    overflow-x: hidden;
}
.searchFormFieldset input[type='checkbox']{
    text-align:start;
}

.searchFormLabel{
    color:rgba(var(--dark));
    display:block;
    
}