.searchForm{
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(var(--primary),0.4);
    border-radius: 30px;
    padding: 3vw;
    text-align: center; 
}
.searchForm input{
      font-size: var(--cardText);
      border: none;
      background-color: transparent;
  }
  
  .searchForm>button{
    border: none;
    background-color: rgba(var(--secondary),0.6);
    border-radius: 20px;
    font-size: var(--cardSubTittle);
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 1vh;
    width: 20vw;
    min-height: 5vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.searchForm>fieldset{
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    border:none;
    gap: 2vh;
    overflow-x: hidden;
    padding: 1vh 0.5vw;
    background-color: rgba(var(--clear),0.6);
    border-radius: 20px;
}
.searchForm>fieldset::-webkit-scrollbar {
    display: none;
    }  
.searchForm>fieldset input[type='checkbox']{
    text-align:start;
}
.searchFormLabel{
    display: flex;
    color:rgba(var(--dark));
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;
    align-items: center;
    font-size: var(--presentationText);
    background-color: rgba(var(--primary),0.6) ;
    min-height: 5vh;
    border-radius: 30px;
}
.searchFormLabel>p{
    margin-left: 2vw;
}
.searchFormLabel>*:last-child{
    margin-right: 2vw;
}
.search{
    background: rgba(var(--primary),0.6) ;
    height: 4vh;
    border-radius: 40px;
}

.search:hover {
    background: rgba(var(--primary),0.4) ;
}
.search-btn{
    float: right;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background:rgba(var(--secondary),0.6) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 3vw;
    color: rgba(var(--dark));
    font-size: 16px;
    transition: ease-in 0.4s;
    line-height: 40px;
    width: 80%;
}

.dateRange{
    display: flex;
    justify-content: space-around;
}

.searchForm>button {}