.header {
	grid-row: 1/2;
	grid-column: 1/-1;
	order: 1;
	display:grid;

	grid-template-rows:
	200px;
	
	grid-template-columns:
	1fr;	
}
.headerDecoration{
	grid-row: 1/2;
	grid-column: 1/2;
	order: 0;
	align-self: start;
	height: 7.5rem;
	background-color: rgba(var(--dark));
	-webkit-box-shadow: 5px 5px 9px 0px rgba(46, 50, 50, 0.92);
	-moz-box-shadow:    5px 5px 9px 0px rgba(46, 50, 50, 0.92);
	box-shadow:         5px 5px 9px 0px rgba(46, 50, 50, 0.92);
}
.logo{
	grid-row: 1/2;
	grid-column: 1/2;
	order:1;
	width: 6rem;
	margin-top: 0.5rem;
	margin-left: 5rem;


}

