
  
  .spaceCard {
    margin-bottom:0.25rem;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2vw;
    justify-content: flex-end;
    color:rgba(var(--dark));
  }
  
  .spaceCardRightColumn
  {
    text-decoration: none;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: flex-end;
    width: 50%;
    color: var(--dark);
    font-size: var(--cardSubTittle);
    margin-right: 0.3vw;
  }
  .spaceCardRightColumn>ul{
    background-color:rgba(var(--clear),0.4);
    padding: 1vh 1vw;
    border-radius: 20px;
    list-style: none;
  }
  .spaceCardRightColumn>ul>li{
    display:flex;
    justify-content: space-between;
    gap: 0.5vw;
    margin-right: 1vw;
  }
  .spaceCardRightColumn>ul>li>img{
    width: 2.5vh;
  }
  .spaceCardLeftColumn
  {  
    height: 100%;
     width: 100%;
    display:flex;
  }
  .imageSlide{
    height: 100%;
    width: 100%;
  }
  
  
