    .spaceCard {
    margin-bottom:0.25rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    color:rgba(var(--dark));
  }
  .spaceCardRightColumnInfo>h4{
    text-align: center;
    font-size: var(--cardTittle);
  }
  .spaceCardLeftColumn
  {  
    height: 100%;
    width: 100%;
    display:flex;
  }
  .spaceCardRightColumn{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(var(--clear),0.4);
    border-radius: 20px 0 0 20px;
  }
  
  .spaceCardRightColumnInfo
  {
    text-decoration: none;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap: 1vh;
    justify-self: flex-end;
    width: 100%;
    color: var(--dark);
    font-size: var(--cardSubTittle);
    margin-right: 0.3vw;
  }
  .spaceCardRightColumnInfo>ul{
    padding: 1vh 1vw;
    border-radius: 20px;
    list-style: none;
  }
  .spaceCardRightColumnInfo>ul>li{
    display:flex;
    justify-content: space-between;
    gap: 0.5vw;
    margin-right: 1vw;
  }
  .spaceCardRightColumnInfo>ul>li>img{
    width: 2.5vh;
  }
  .imageSlide{
    height: 17vh;
    width: 100%;

  }
  
  
