

.mainNavigationButton {
	background-color: rgba(var(--primary), 0.8);
	color: var(--dark);
	clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 15vw;
	height: 19vh;
	border: none;
}

.mainNavigationButtonIcon{ 
	height:10vh ;
	width: 10vw;
}