

.mainNavigationButton {
	background-color: rgba(var(--primary), 0.8);
	color: var(--dark);
	clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
	display: flex;
	justify-content: center;
	
	flex-direction: column;
	min-height: 12rem;
	min-width: 12rem;
	padding: 10px;
	width: 16rem;
}

.mainNavigationButtonIcon{ 
	max-width: 200px;
	align-self: center;
	margin-bottom: 20px;
}