.spaceCardNotificationDisplay{
    width: 100%;
}
.spaceCardNotificationDisplay>ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 0.2vw;
 
}
.spaceCardNotificationDisplay>ul>li>img{
    height: 2.7vh;
    background-color: rgba(var(--secondary));
    border-radius: 50%;
    padding: 0.3vh;
}