
  
  .centerCard {
    margin-bottom:0.5vw;
    max-height: 17vh;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    color:rgba(var(--dark));
   
    text-decoration: none;
  }
  
  .centerCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center center;
  }

  .leftColumn{
  
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    margin-left: 1vw;
    width: 25vw;
    text-align: left;
  }

  .centerCardName{
    display: block;
    width: 100%;
    font-size: var(--cardTittle);
    background-color: rgba(var(--secondary),0.5);
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-radius: 30px;

  }
  .centerCardPlace{
    font-size: var(--cardSubTittle);
    padding-left: 0.7vw;
  }
  .centerCardPrice{
    padding-top: 6vh;
    font-size: var(--cardText);
    align-self: center;
  }
  .centerCardStarsDisplay{
    align-self: center;
  }
  
  .rightColumn{
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
  }


  
  
