
  
  .centerCard {
    margin-bottom:0.5vw;
    min-height: 10vw;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    color:rgba(var(--dark));
    background-color: rgba(var(--clear),0.3);
    text-decoration: none;
  }
  
  .centerCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center center;
  }

  .leftColumn{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 1vw;
    width: 25vw;
    text-align: center;
  }

  .centerCardName{
    font-size: var(--cardTittle);
  }
  .centerCardPlace{
    font-size: var(--cardSubTittle);
  }
  .centerCardPrice{
    padding-top: 2vw;
    font-size: var(--cardText);
    align-self: center;
  }
  .centerCardStarsDisplay{
    align-self: center;
  }
  
  .rightColumn{
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
  }

  .centerCard:hover {
    box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.20)
  }
  
  
